-- CreateTable
CREATE TABLE "PrintBatch" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "batchNumber" TEXT NOT NULL,
    "deliveryMethod" TEXT NOT NULL,
    "layout" TEXT NOT NULL DEFAULT '12/A4',
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdByAdminId" TEXT NOT NULL,
    "printedAt" DATETIME,
    "printedByAdminId" TEXT,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    CONSTRAINT "PrintBatch_createdByAdminId_fkey" FOREIGN KEY ("createdByAdminId") REFERENCES "AdminUser" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "PrintBatch_printedByAdminId_fkey" FOREIGN KEY ("printedByAdminId") REFERENCES "AdminUser" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "PrintBatchItem" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "batchId" TEXT NOT NULL,
    "orderId" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "PrintBatchItem_batchId_fkey" FOREIGN KEY ("batchId") REFERENCES "PrintBatch" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "PrintBatchItem_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "Order" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- RedefineTables
PRAGMA defer_foreign_keys=ON;
PRAGMA foreign_keys=OFF;
CREATE TABLE "new_AdminAuditLog" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "adminUserId" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "entityType" TEXT,
    "entityId" TEXT,
    "metadata" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "AdminAuditLog_adminUserId_fkey" FOREIGN KEY ("adminUserId") REFERENCES "AdminUser" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);
INSERT INTO "new_AdminAuditLog" ("action", "adminUserId", "createdAt", "entityId", "entityType", "id", "metadata") SELECT "action", "adminUserId", "createdAt", "entityId", "entityType", "id", "metadata" FROM "AdminAuditLog";
DROP TABLE "AdminAuditLog";
ALTER TABLE "new_AdminAuditLog" RENAME TO "AdminAuditLog";
CREATE INDEX "AdminAuditLog_adminUserId_idx" ON "AdminAuditLog"("adminUserId");
CREATE INDEX "AdminAuditLog_action_createdAt_idx" ON "AdminAuditLog"("action", "createdAt");
CREATE TABLE "new_Order" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "orderNumber" TEXT NOT NULL,
    "customerName" TEXT NOT NULL,
    "mobile" TEXT NOT NULL,
    "alternateMobile" TEXT,
    "email" TEXT,
    "division" TEXT,
    "district" TEXT NOT NULL,
    "upazilaOrThana" TEXT NOT NULL,
    "unionOrWard" TEXT,
    "postOffice" TEXT,
    "postalCode" TEXT,
    "areaOrVillage" TEXT NOT NULL,
    "roadOrStreet" TEXT,
    "houseOrHolding" TEXT,
    "landmark" TEXT,
    "deliveryInstruction" TEXT,
    "deliveryType" TEXT NOT NULL,
    "paymentPlan" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'AWAITING_PAYMENT',
    "subtotal" INTEGER NOT NULL,
    "deliveryCharge" INTEGER NOT NULL,
    "grandTotal" INTEGER NOT NULL,
    "payNowAmount" INTEGER NOT NULL DEFAULT 0,
    "paidAmount" INTEGER NOT NULL DEFAULT 0,
    "dueAmount" INTEGER NOT NULL,
    "carrierName" TEXT,
    "trackingNumber" TEXT,
    "shippedAt" DATETIME,
    "deliveredAt" DATETIME,
    "printedAt" DATETIME,
    "printedByAdminId" TEXT,
    "printCount" INTEGER NOT NULL DEFAULT 0,
    "dispatchedAt" DATETIME,
    "dispatchedByAdminId" TEXT,
    "dispatchStatus" TEXT NOT NULL DEFAULT 'NOT_DISPATCHED',
    "source" TEXT NOT NULL DEFAULT 'WEB',
    "createdByAdminId" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "Order_printedByAdminId_fkey" FOREIGN KEY ("printedByAdminId") REFERENCES "AdminUser" ("id") ON DELETE SET NULL ON UPDATE CASCADE,
    CONSTRAINT "Order_dispatchedByAdminId_fkey" FOREIGN KEY ("dispatchedByAdminId") REFERENCES "AdminUser" ("id") ON DELETE SET NULL ON UPDATE CASCADE,
    CONSTRAINT "Order_createdByAdminId_fkey" FOREIGN KEY ("createdByAdminId") REFERENCES "AdminUser" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);
INSERT INTO "new_Order" ("alternateMobile", "areaOrVillage", "carrierName", "createdAt", "customerName", "deliveredAt", "deliveryCharge", "deliveryInstruction", "deliveryType", "district", "division", "dueAmount", "email", "grandTotal", "houseOrHolding", "id", "landmark", "mobile", "orderNumber", "paidAmount", "payNowAmount", "paymentPlan", "postOffice", "postalCode", "roadOrStreet", "shippedAt", "status", "subtotal", "trackingNumber", "unionOrWard", "upazilaOrThana", "updatedAt") SELECT "alternateMobile", "areaOrVillage", "carrierName", "createdAt", "customerName", "deliveredAt", "deliveryCharge", "deliveryInstruction", "deliveryType", "district", "division", "dueAmount", "email", "grandTotal", "houseOrHolding", "id", "landmark", "mobile", "orderNumber", "paidAmount", "payNowAmount", "paymentPlan", "postOffice", "postalCode", "roadOrStreet", "shippedAt", "status", "subtotal", "trackingNumber", "unionOrWard", "upazilaOrThana", "updatedAt" FROM "Order";
DROP TABLE "Order";
ALTER TABLE "new_Order" RENAME TO "Order";
CREATE UNIQUE INDEX "Order_orderNumber_key" ON "Order"("orderNumber");
CREATE INDEX "Order_mobile_idx" ON "Order"("mobile");
CREATE INDEX "Order_status_createdAt_idx" ON "Order"("status", "createdAt");
CREATE INDEX "Order_dispatchStatus_createdAt_idx" ON "Order"("dispatchStatus", "createdAt");
CREATE INDEX "Order_trackingNumber_idx" ON "Order"("trackingNumber");
CREATE INDEX "Order_deliveryType_idx" ON "Order"("deliveryType");
PRAGMA foreign_keys=ON;
PRAGMA defer_foreign_keys=OFF;

-- CreateIndex
CREATE UNIQUE INDEX "PrintBatch_batchNumber_key" ON "PrintBatch"("batchNumber");

-- CreateIndex
CREATE INDEX "PrintBatch_status_createdAt_idx" ON "PrintBatch"("status", "createdAt");

-- CreateIndex
CREATE INDEX "PrintBatch_deliveryMethod_idx" ON "PrintBatch"("deliveryMethod");

-- CreateIndex
CREATE INDEX "PrintBatchItem_orderId_idx" ON "PrintBatchItem"("orderId");

-- CreateIndex
CREATE UNIQUE INDEX "PrintBatchItem_batchId_orderId_key" ON "PrintBatchItem"("batchId", "orderId");

